.topbarContainer {
  height: 50px;
  width: 100%;
  background-color:transparent;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarLeft {
  flex: 3;
}

.logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.topbarCenter {
  flex: 5;
}

.searchbar {
  width: 90%;
  height: 40px;
  background-color:var(--main-color);
  color: var(--main-bg);
  border-radius: 30px;
  display: flex;
  align-items: center;
}


.searchIcon {
  width: 100%;
  font-size: 30px !important;
  margin: 0px 0px 0px 10px;
 
  color:var(--main-bg);
  cursor: pointer;
   
}


.searchInput {
  border: none;
 height: 100%;
 width: 90%;
 font-size: 20px;
 font-weight: 300;
 border-radius: 20px;
 padding: 0px 10px;
}

.searchInput:focus {
  outline: none;
  border:2px solid var(--main-color);
}

.topbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.topbarLink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.topbarIcons {
  display: flex;
}

.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

.topbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.topbarImg{
  animation: none;
}
@media(max-width:768px){
  .topbarContainer{
    background-color: rgb(1, 17, 32);
  }
  .topbarCenter{
    display: none;
  }
 
  .topbarLinks{
    display: none;
  }
}